@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,300;0,400;0,800;0,900;1,300;1,800;1,900&display=swap');

@import "tailwindcss";

* {
  font-family: 'Outfit', sans-serif;
}

body {
  background: linear-gradient(180deg, #fcfaff 0%, #f7f3ff 100%);
}

@theme {
  --color-primary: #7c3aed;
  --color-primary-dull: #6d28d9;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-typing {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(30) infinite;
}

#scale:hover {
  transform: scale(1.09);
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(25, 15, 40, 0.35);
}

#nav-scale:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  color: #7c3aed;
}

.hero-title-outline {
  -webkit-text-stroke: 1px #7c3aed;
  text-shadow: 0 0 1px #7c3aed;
}
